{% extends 'bookclub/base.html' %}

{% block content %}

<div class="container">
<br>
    <div class="card" style="width: 18rem;">
        {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" class="card-img-top" alt="Book Cover">
    {% else %}
        <img src="/static/images/default_cover.jpg" class="card-img-top" alt="Default Cover">
    {% endif %}
        <div class="card-body">
          <h5 class="card-title">Book info</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Title: {{book.title}} </h6>
          <p class="card-text">Author: {{book.author}}</p>
          <p class="card-text">Book submitted by: {{book.submitter}} </p>
          <p class="card-text">Book chosen by: {{book.chosen_by}} </p>
          <p class="card-text">Discussed: {{book.book_discussed}}</p>
          <p class="card-text">Description: {{book.description}}</p>
          <a href="{%url 'book-update' book.pk %}"  class="btn btn-outline-primary"> Edit Book </a>

         </div>
      </div>


{% endblock content %}