{% extends 'bookclub/base.html' %}
{% block content %}
<br>

<div class="container">
    <p> Welcome to the Saffron Walden book club.</p>
<p> Please find below information for the next meeting and the book to read. </p>
  <p>Use the menu above to view past and future meetings and browse the books in the book club list. </p>  
</div>
<br>

<div class = "container">
    <h2>Next meeting:</h2>
</div>
{% if next_meeting %}
<div id="meeting-div" class="container">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Host</th>
            <th>Location</th>
            <th>Book</th>
            <th>Next Chooser</th>
            <th>More details</th>
        </tr>
        <tr>
            <td>{{ next_meeting.meeting_date }}</td>
            <td>{{ next_meeting.host }}</td>
            <td>{{ next_meeting.location }}</td>
            <td>{{ next_meeting.book.title }} by {{ next_meeting.book.author }}</td>
            <td>{{ next_meeting.chooser_name }}</td>
            <td><a href="{{ next_meeting.get_absolute_url }}">Show More</a></td>
        </tr>
    </table>
</div>
{% else %}
<p>No upcoming meetings found.</p>
{% endif %}

    {% endblock %}