{% extends 'bookclub/base.html' %}

{% block content %}

<div class="container">
<br>
    <div class="card" style="width: 18rem;">
      <img src="/static/images/book_meeting_new.jpg" class="card-img-top" alt="Meeting">

        <div class="card-body">
          <h5 class="card-title">Meeting info</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{meeting.meeting_date|date:"l, F j, Y"}}</h6>
          <p class="card-text">Host: {{meeting.host}} </p>
          <p class="card-text">Location: {{meeting.location}}</p>
          <p class="card-text">Book to be discussed:{{meeting.book.title}}  {{meeting.book.author}}</p>
          <a href="{%url 'bookclub/meeting-update' meeting.pk %}"  class="btn btn-outline-primary"> Edit Meeting </a>
          <a href="{%url 'meetings_list'  %}"  class="btn btn-outline-primary"> View All Meetings </a>


         </div>
      </div>


{% endblock content %}