{% extends 'bookclub/base.html' %}

{% block content %}
<br>
<div >


</div>
<div>
    <h2>Upcoming Meetings</h2>
</div>

<div id=meeting-div class = "container">
    <div class="row">
    {% if meetings_list.future_meetings %}
    {% for meeting in meetings_list.future_meetings %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{meeting.meeting_date}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Host:  {{meeting.host}}</h6>
          <p class="card-text">Location: {{meeting.location}}</p>
          <p class="card-text">Book to be discussed : {{meeting.book.title}} by {{meeting.book.author}}</p>
          <a href="{%url 'meeting_detail' meeting.pk %}"  class="btn btn-outline-primary"> Edit Meeting </a>
         </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
</div>

<div>
    <h2>Past Meetings</h2>
</div>

<div id=meeting-div class = "container">
    <div class="row">
    {% if meetings_list.past_meetings %}
    {% for meeting in meetings_list.past_meetings %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{meeting.meeting_date}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Host:  {{meeting.host}}</h6>
          <p class="card-text">Location: {{meeting.location}}</p>
          <p class="card-text">Book to be discussed : {{meeting.book.title}} by {{meeting.book.author}}</p>
          <a href="{%url 'meeting_detail' meeting.pk %}"  class="btn btn-outline-primary"> Edit Meeting </a>
         </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
</div>

{% endblock content %}